
.container {
    padding-top: 30vh;
    text-align: center;
}

.nav-adjuster{
position: relative;
top: 0vh;
left: 20vw;
text-align: center;
}

.navbar-nav{
    background-color: #3E4444;
    color: white;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 50%;
    padding-left: 25px;
    margin-left: -17px;
    margin-top: -10px;
    top: 0vh;
 
    position: fixed;
}
.navbar {

    
}
.pdt-5{
    padding-top: 2vh;
}

.pdt-10{
    padding-top: 10vh;
}

.pdt-20{
    padding-top: 20vh;
}

.logout{
    padding-top:40vh;
}

.rounded-profile {
    object-fit: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
   
}

.profile-url{
    display: inline-flex;
    width: 100%;
}

.profile-name {
   padding-left: 1vw;
   padding-top: 3vh;
}

a {
    color:  rgb(196, 196, 196);
}

a:hover, a:focus {
    color: white;
    zoom: 1.1;
    text-decoration-style: none;
    text-decoration: none;
}

.new-button{
    position: relative;
    margin-left: 20%;
    margin-top: 3%;
    width: 50%;
}

.header-dashboard {
    position: relative;
    margin-left: 20%;
}

.containers-dashboard{
    position: relative;
    margin-bottom: 10%;
}

.logout-button{
    position: relative;
    margin-top:40vh;
    margin-left: 1vw;
    width: 130%;
}